{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<h1 class="m-3">Hello @{{current_user.username}}</h1>
<hr class="border">
<section>
    <h2 class="m-3">Looking For ?</h2>
    <div class="row d-flex align-items-center justify-content-center bg-primary-subtle m-3 p-3 rounded">
        {% for service in services %}
        <div class="col-6 col-md-3 m-3 p-3 border border-2 border-primary">
            <div class="my-3"><b>{{ service.name }}</b></div>
            <div>Price: {{ service.price }}</div>
            <div>Time Required: {{ service.time_required }} mins</div>
            <a href="{{ url_for('select_professional', service_id=service.id) }}" class="btn btn-primary m-3">Select</a>
        </div>
        {% endfor %}
    </div>
</section>
<hr class="border">
<section>
    <h2 class="m-3">Service History</h2>
    <table class="table table-bordered table-primary align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Professional Name</th>
                <th>Time of Request</th>
                <th>Time of Completion</th>
                <th>Task</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for item in service_history %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.service.name }}</td>
                <td>{{ item.professional.fullname }}</td>
                <td>{{ item.time_of_request.strftime('%d-%m-%Y %H:%M') }}</td>
                <td>
                    {% if item.time_of_completion %}
                    {{ item.time_of_completion.strftime('%d-%m-%Y %H:%M') }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ item.task }}</td>
                <td>{{ item.service_status }}</td>
                <td>
                    {% if item.service_status != 'closed' and item.service_status != 'rejected' %}
                    <form action="{{ url_for('close_service', service_id=item.id) }}" method="post"
                        onsubmit="return confirm('Are you sure you want to close this service?');">
                        <button type="submit" class="btn btn-warning">Close it?</button>
                    </form>
                    {% elif item.service_status == 'rejected' and item.time_of_completion is none %}
                    <form action="{{ url_for('service_remarks', service_id=item.id) }}" method="post">
                        <button type="submit" class="btn btn-info">Add Remarks</button>
                    </form>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8" class="text-center">No service history found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}