{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1 class="mt-0 m-3">Register as Customer</h1>
<hr class="border"><br>
<form method="POST">
    <div class="row d-flex flex-column align-items-center">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            {{ form.username.label(class="form-label me-2") }}
            {{ form.username(class="form-control d-inline w-50") }}<br><br>
        </div>
        <div class="col-md-6">
            {{ form.password.label(class="form-label me-2") }}
            {{ form.password(class="form-control d-inline w-50") }}<br><br>
        </div>
        <div class="col-md-6">
            {{ form.fullname.label(class="form-label me-2") }}
            {{ form.fullname(class="form-control d-inline w-50") }}<br><br>
        </div>
        <div class="col-md-6">
            {{ form.address.label(class="form-label me-2") }}
            {{ form.address(class="form-control d-inline w-50") }}<br><br>
        </div>
        <div class="col-md-6">
            {{ form.pincode.label(class="form-label me-2") }}
            {{ form.pincode(class="form-control d-inline w-25") }}<br><br>
        </div>
        <div class="col-md-6">
            {{ form.contact_number.label(class="form-label me-2") }}
            {{ form.contact_number(class="form-control d-inline w-25") }}<br><br>
        </div>
        <div class="text-center mt-2">
            {{ form.submit(class="btn btn-success mx-2 px-3") }}
        </div>
    </div>
</form>
<br>
<a href="{{ url_for('register_professional') }}">Register As Professional</a><br>
<a href="{{ url_for('login') }}">Already have an account? Login here</a>
{% endblock %}