{% extends "base.html" %}

{% block title %}Add New Service{% endblock %}

{% block content %}
<h2 class="m-3">Add New Service</h2>
<hr class="border"><br>
<form method="POST" class="row g-6">
    {{ form.hidden_tag() }}
    <div class="col-md-12">
        {{ form.name.label(class="col-form-label") }}
        {{ form.name() }}<br><br>
    </div>
    <div class="col-md-12">
        {{ form.price.label(class="col-form-label") }}
        {{ form.price() }}<br><br>
    </div>
    <div class="col-md-12">
        {{ form.time_required.label(class="col-form-label") }}
        {{ form.time_required() }}<br><br>
    </div>
    <div class="col-md-12 d-flex align-items-center justify-content-center">
        {{ form.description.label(class="col-form-label") }}
        {{ form.description() }}<br><br>
    </div>
    <div class="text-center mt-4">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('admin_home') }}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}