{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<h2 class="m-3">Edit Profile Details</h2>
<form method="post" action="{{ url_for('edit_profile_details') }}" class="row g-6">
    {{ form.hidden_tag() }}
    <div class="col-md-12">{{ form.fullname.label }} {{ form.fullname() }}<br><br></div>
    <div class="col-md-12">{{ form.address.label }} {{ form.address() }}<br><br></div>
    <div class="col-md-12">{{ form.pincode.label }} {{ form.pincode() }}<br><br></div>
    <div class="col-md-12">{{ form.contact_number.label }} {{ form.contact_number() }}<br><br></div>
    <div class="text-center mt-2">
        {{ form.submit(class="btn btn-primary mx-2 px-2") }}
        <a href="{{ url_for('profile_details') }}" class="btn btn-secondary mx-2 px-3">Cancel</a>
    </div>
</form>
{% endblock %}