{% extends "base.html" %}

{% block title %}ServiceSphere{% endblock %}

{% block content %}
<br>
<h1 class="m-3">ServiceSphere</h1>
<img src="{{ url_for('static', filename='img/ServiceSphere.png') }}" class="mx-auto d-block img-logo">
<br>
<h2 class="m-3">A-Z Household Services are available here</h2><br>
<a href="{{ url_for('login') }}" class="btn btn-info btn-lg mb-4 px-3">Login</a>
<div class="dropdown-center mb-4">
    <button class="btn btn-warning btn-lg px-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        Register
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{{ url_for('register_customer') }}">Register As Customer</a></li>
        <li><a class="dropdown-item" href="{{ url_for('register_professional') }}">Register As Professional</a></li>
    </ul>
</div>
{% endblock %}